<div data-id="{{id}}">
    <h3>Todo Item</h3>
    <input type="text" id="todoName"value="{{name}}">
    <input type="text" id="todoDescription" value="{{description}}">
</div>


<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    </div>
    <div class="modal-body container row">
        <div class="row">
            <div class="span2">Name</div>
            <input class="span2" value="{{name}}">
        </div>
        <div class="row">
            <div class="span2">Description</div>
            <input class="span2" value="{{description}}">
        </div>
    </div>
    <div class="modal-footer"></div>
</div>