<div class="modal hide fade todo-add-modal">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close js-todo-modal-close">&times;</button>
    </div>
    <div class="modal-body container row">
        <div class="row">
            <div class="span2">Name</div>
            <input class="span2 todo-name-field" value="{{name}}">
        </div>
        <div class="row">
            <div class="span2">Description</div>
            <input class="span2 todo-description-field" value="{{description}}">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close js-todo-modal-save">Save</button>
    </div>
</div>